@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h1>Hello welcome to our website </h1>
@{
    for (int i = 0; i < 3; i++)
    {
        <ol>
            <li>Home page</li>
            <li>Privacy Page</li>
        </ol>
    }
}
<h2>End of page</h2>