
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Image of Rose</h2>

<img src=" c:\users\mangai\source\repos\techm\techmwebapp\techmwebapp\wwwroot\css\rose1.jpg" />

